.container(ng-controller="HotelDetailsController")
    h1 Welcome to {{hotel.name}}
    div.container.row
        .panel.panel-info
            ul.panel-heading.text-left.col-md-6  Hotel Information
            .panel-body
               li.list-group-item Total Rooms : {{hotel.rooms.length}}
               li.list-group-item About Hotel : {{hotel.description}}
               li.list-group-item User Rating : {{hotel.userRating}}
        .col-md-3
            img(src="{{hotel.pictureUrl}}" height='150', width='150')
    .container
        button.btn-info(ng-click="rate(1)") Rate Up
        button.btn-info(ng-click="rate(-1)") Rate Down
    div(class="book-container")
        h2.h2 Book now
            .row
                table.table
                    tr
                        th Room Type
                        th Check in Date
                        th Check out Date
                    tr
                        td
                            select(class="room-type-select", ng-model="roomType")
                                option(ng-repeat="r in roomTypes") {{r}}
                        td
                            input(type="text", ng-model="startDate" placeholder="Click for date", id="datepicker-start")
                        td
                            input(type="text", ng-model="endDate" placeholder="Click for date", id="datepicker-end")
                button.btn-sm.btn-info(ng-click="bookNow(startDate, endDate, roomType)") Book Now

    .container(ng-show="isSuccessBooking")
        .panel.panel-info
            ul.panel-heading.text-left.col-md-6
                .panel-body
                    strong
                        li.list-group-item Booking Id {{bookingData.bookingId}}
                    strong
                        li.list-group-item Check in date : {{bookingData.fromDate | date:'MM/dd/yyyy'}}
                    strong
                        li.list-group-item Check out date:  {{bookingData.toDate | date:'MM/dd/yyyy'}}

    script(type="text/javascript" src="/app/common/datepicker.js")
