.container(ng-controller="HotelsController")
    .row
        .container(ng-show="isAuth")
            .container(ng-show="isHotelOwner")
                a.btn.btn-info(href="#/hotels/create" ) Add Your Own Hotel
            .col-md-2 Search
            .col-md-4
                input.form-control(type="text", placeholder="Search", ng-model="search")
            .col-md-2 Sort
            .col-md-4
                select.form-control(ng-model="sort")
                    option(value=" " ng-selected="'true'") Default
                    option(value="name") Title
                    option(value="-star_rating") Star Rating
    br
    table.table
        tr
            th Title
        tr(ng-repeat="hotel in hotels | filter: search | orderBy: sort")
            td
                a(href="#/hotels/{{ hotel._id }}") {{ hotel.name }} 
                img(src='http://png-4.findicons.com/files/icons/236/merry_christmas/128/golden_star.png', height='20px' ng-show='{{hotel.star_rating>=1}}')
                img(src='http://png-4.findicons.com/files/icons/236/merry_christmas/128/golden_star.png', height='20px' ng-show='{{hotel.star_rating>=2}}')
                img(src='http://png-4.findicons.com/files/icons/236/merry_christmas/128/golden_star.png', height='20px' ng-show='{{hotel.star_rating>=3}}')
                img(src='http://png-4.findicons.com/files/icons/236/merry_christmas/128/golden_star.png', height='20px' ng-show='{{hotel.star_rating>=4}}')
                img(src='http://png-4.findicons.com/files/icons/236/merry_christmas/128/golden_star.png', height='20px' ng-show='{{hotel.star_rating>=5}}')
    br

