.container(ng-controller="HotelDetailsController")
    h1 Welcome to {{hotel.name}}
    div.container
        .panel.panel-info
            ul.panel-heading.text-left Hotel Information
            .panel-body
               li.list-group-item Total Rooms : {{hotel.rooms.length}}
               li.list-group-item About Hotel : {{hotel.description}}
               li.list-group-item Star Rating : {{hotel.star_rating}}
    .container
        button.btn-info(ng-click="rate(1)") Rate Up
        button.btn-info(ng-click="rate(-1)") Rate Down